.table{
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.row{
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 6;
}

.cell{
  margin: 0;
  padding: 0px 2px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testContainer{
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  display: flex;
}

.testChild{
  background-color: brown;
  flex: 1;
}